@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* Bootstrap Resets */
html, body {
	height: 100%
}
body {
	font-family: "Lato", Calibri, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
}
h1 {
	font-size:60px;
}
h2 {
	margin-top:40px;
}
h3 {
	margin: 0;
}

.container-fluid {
	margin:0 auto;
	max-width:800px;
	padding:0;
}

.btn {
	background-color:rgba(0,0,0,.1);
	box-shadow: none;
	padding: 7px 14px;
}

a.btn {
	border:none;
}
.btn-primary {
	background-color: rgba(0,0,0,.8);
	color: rgba(255,255,255,1);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,.3);
}

/* header */

.header {
	background: #ffffff url('../images/map.jpg') no-repeat right top;
	background: rgba(255, 255, 255, 1) url('../images/map.jpg') no-repeat right top;
	border-bottom: 3px solid #dddddd;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 1);
	padding: 0 0 20px 0;
}

.header h1, .header h2 {
	line-height: 1;
	margin-top:0;
}
.header h1 {
	font-weight: bold;
	padding-top:15px;
}
#content {
	padding-bottom: 40px;
}
.footer {
	background-color: #f5f5f5;
	background-color: rgba(0, 0, 0, .15);
	color: #000000;
	color: rgba(0, 0, 0, 1);
	font-size: 12px;
	line-height: 1.2;
	margin-top: 40px;
	padding: 20px 20px 0 20px;
}

@media (max-width: 767px) {
	body {
		padding:0;
	}
	.container-fluid {
		padding: 0;
	}
	.header h1 {
		line-height: 1;
		padding-top:30px;
	}
	.header {
		padding-bottom: 40px;
	}
	#content {
		padding-right: 10px;
		padding-left: 10px;
	}
	#state_seq {
		margin-bottom: 40px;
	}
}